# Can ignore specific files
.DS_Store
.classpath
.project
.idea
.settings
.svn

# Use wildcards as well
*~
*.swp
*.class

# Can also ignore all directories and files in a directory.
tmp/**/* 
target/**/*