<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">




<beans>

	<bean id="propertyPlaceholderConfigurer"  
	class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
	  <property name="locations">  
	    <list>  
	      <value>classpath:instance.properties</value>  
	    </list>  
	  </property>  
	</bean>  
	

    <bean id="myMailer" class="com.odde.mailer.Mailer">
        <constructor-arg index="0">
            <ref bean="smtpHost"/>
        </constructor-arg>
    </bean>
     <bean id="smtpHost" class="com.odde.mailer.SmtpHost">
        <constructor-arg index="0">
            <value>${smtphost}</value>
        </constructor-arg>
        <constructor-arg index="1">
            <value>${smtpport}</value>
        </constructor-arg>
    </bean>
</beans>

