<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Example of SAF2 action instantiated by Spring -->
    <!--<bean id="helloWorldAction" class="war.HelloWorldAction" singleton="false" />-->
    <bean id="massmailerAction" class="com.odde.actions.MassmailerAction" singleton="false" />
    <bean id="fileUploadAction" class="com.odde.actions.FileUploadAction" singleton="false" />
    <bean id="sendEmailAction" class="com.odde.actions.SendEmailAction" singleton="false" />
    
</beans>

